<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>   
  </div>
</div>
<body style="background-color: #343a40;">
    <div class="row m-0 p-0 justify-content-center mt-3">
        <div class="col-12" style="text-align: center;">
            <h1 style="color: white">Welcome to the Pokemon Activity</h1>
        </div>
        <div class="col-12" style="text-align: center;">
            <a href="http://localhost:5000/proveAssignments/prove09/1">Go to Activity</a>
        </div>
    </div>

</body>
</html>